{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: red">О сайте</h1>

<table border="0" width="100%">
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="80%" bgcolor="#FFFFFF">
	<p><font size="5" face="Franklin Gothic Heavy">Этот сайт для людей, ничего не слышавших о русском роке, или интересующихся о его происхождении и исполнителях.</font>
	<ul>
		<li>
		<p style="color: #080808; font-family: Franklin Gothic Heavy; background-color: #ffffff">
		<font size="5">Создатели: Яруллина А.М. и Мусоров Д.А.</font>
        </li>
	</ul>
			</td>
		<td width="10%">&nbsp;</td>
	</tr>
</table>

{% endblock content %}
