{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: red">Кино</h1>

<table border="0" width="100%">
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="80%" bgcolor="#FFFFFF">
		<table border="0" width="100%">
			<tr>
				<td valign="top" width="50%">
					<p><font size="5" face="Franklin Gothic Heavy">«Кино» - одна из самых популярных советских рок-групп 1980-х годов, входила в состав Ленинградского рок-клуба. Лидером и автором почти всех текстов и музыки неизменно оставался Виктор Цой, после смерти которого коллектив, выпустивший, в общей сложности, за девять лет на студийных альбомах более ста песен, несколько сборников и концертных записей, а также большое количество неофициальных бутлегов, прекратил существование. </font></p>
					<p><font size="5" face="Franklin Gothic Heavy">Стилистически группа ушла от многих традиционных элементов русского рока — в частности, вместо обычных ударных установок нередко использовались разнообразные программируемые эффекты, создаваемые посредством драм-машин, что порой придавало звучанию налёт «дискотечности» или «попсовости». Тематическая составляющая лирики на раннем этапе творчества отражает подростковую обыденность и драматические переживания по поводу любви, благодаря чему музыканты удостоились звания «новые романтики»; в более же поздних текстах героика и протест сочетаются с трагичностью мироощущения.</font></p>
					<p><font size="5" face="Franklin Gothic Heavy">Популярность «Кино» с годами постоянно росла, и если вначале музыканты играли лишь на квартирниках и подвергались жёсткой критике как со стороны официальной, так и подпольной прессы, то в конце десятилетия их пластинки распространялись миллионными тиражами, а на концерты собирались целые стадионы поклонников. Группа породила феномен «киномании», усилившийся после трагической гибели Виктора Цоя и существующий по сей день — место работы музыканта стало объектом паломничества многочисленных фанатов со всех стран постсоветского пространства; в Кривоарбатском переулке (Москва) появилась так называемая «стена Цоя», которую поклонники исписали цитатами из песен и признаниями в любви к творчеству группы. «Кино» часто находит отражение в массовой культуре, оставленное ими наследие высоко оценивается сегодняшними обозревателями и музыковедами.</font></p>
				</td>
				<td valign="top" width="50%">
					<p align="left"><img src="https://imageup.ru/img104/3760246/kino1.jpg" border="0" alt=""></p>
				</td>
			</tr>
		</table>
		</td>
		<td width="10%">&nbsp;</td>
	</tr>
</table>

{% endblock content %}

