{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: red">Ленинград</h1>

<table border="0" width="100%">
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="80%" bgcolor="#FFFFFF">
		<table border="0" width="100%">
			<tr>
				<td valign="top" width="50%">
					<p><font size="5" face="Franklin Gothic Heavy">«Ленинград» (полное название — «Группировка Ленинград») — российская музыкальная группа из Санкт-Петербурга, созданная Сергеем Шнуровым. Известна, в частности, эксцентричными песнями с большим количеством мата и алкогольно-бытовой тематикой. Группа использует в своём творчестве обширный состав духовых инструментов: труба, саксофон, тромбон, туба. Также группа иногда расширяется за счёт саксгорнов.</font></p>
					<p><font size="5" face="Franklin Gothic Heavy">25 декабря 2008 года было объявлено о распаде группы. 9 августа 2010 года, с объявления двух ноябрьских концертов в Москве, началось возрождение группы; в марте 2019 года было объявлено, что стадионный тур коллектива в 2019 году будет последним. 3 января 2020 года было объявлено, что группа воссоединится для двух выступлений на фестивале Coachella, который должен был пройти в апреле 2020 года в Калифорнии, США.</font></p>
				</td>
				<td valign="top" width="50%">
					<p align="left"><img src="https://imageup.ru/img146/3760248/leningrad1.jpg" border="0" alt=""></p>
				</td>
			</tr>
		</table>
		</td>
		<td width="10%">&nbsp;</td>
	</tr>
</table>

{% endblock content %}

