{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: red">Сектор Газа</h1>

<table border="0" width="100%">
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="80%" bgcolor="#FFFFFF">
		<table border="0" width="100%">
			<tr>
				<td valign="top" width="50%">
					<p><font size="5" face="Franklin Gothic Heavy">«Сектор Газа» — советская и российская рок-группа из Воронежа, основанная в конце 1987 года музыкантом, вокалистом и автором песен Юрием Клинских (более известным под псевдонимом Юра Хой). </font></p>
					<p><font size="5" face="Franklin Gothic Heavy">9 июня 1988 года состоялось первое выступление группы в электрическом составе на втором фестивале Воронежского городского рок-клуба, где группа получила приз зрительских симпатий. Однако традиционно датой основания группы считается 5 декабря 1987 года, когда состоялось первое сольное выступление Юрия Клинских в Воронежском рок-клубе с собственным репертуаром будущего «Сектора Газа» в ДК ТЭЦ. </font></p>
				</td>
				<td valign="top" width="50%">
					<p align="left"><img src="https://imageup.ru/img232/3760244/sektorgaza1.jpg" border="0" alt=""></p>
				</td>
			</tr>
		</table>
		</td>
		<td width="10%">&nbsp;</td>
	</tr>
</table>

{% endblock content %}
