{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="color: red">Звери</h1>

<table border="0" width="100%">
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="80%" bgcolor="#FFFFFF">
		<table border="0" width="100%">
			<tr>
				<td valign="top" width="50%">
					<p><font size="5" face="Franklin Gothic Heavy">«Звери» — российская поп-рок-группа, созданная Романом Билыком в 2000 году. Лауреат премии MTV Россия и премии «Дебют». На премии Муз-ТВ группа побеждала в номинации «Лучшая рок-группа» 9 раз.</font></p>
					<p><font size="5" face="Franklin Gothic Heavy">Группа «Звери» была создана в 2000 году Романом Билыком, известным под псевдонимом Рома Зверь. Продюсером стал композитор Александр Войтинский. В феврале 2004 года группа выпустила второй альбом, «Районы-кварталы», ставший для неё прорывом к известности. Нынешний состав:</font></p>
					<ul>
						<li>
						<span style="font-size: 18.0pt; font-family: Franklin Gothic Heavy; color: black">
						Роман Билык «Рома Зверь» — вокал, акустическая гитара, ритм-гитара; продюсер
						(2000 — наши дни)</span></li>
						<li>
						<span style="font-size: 18.0pt; font-family: Franklin Gothic Heavy; color: black">
						Вячеслав Зарубов — клавишные (2007 — наши дни)</span></li>
						<li>
						<span style="font-size: 18.0pt; font-family: Franklin Gothic Heavy; color: black">
						Кирилл Афонин — бас-гитара, балалайка (2016 — наши дни)</span></li>
						<li>
						<span style="font-size: 18.0pt; font-family: Franklin Gothic Heavy; color: black">
						Герман «Албанец» Осипов — соло-гитара (2016 — наши дни)</span></li>
						<li>
						<span style="font-size: 18.0pt; font-family: Franklin Gothic Heavy; color: black">
						Валентин Тарасов — ударные (2016 — наши дни)</span></li>
					</ul>
				</td>
				<td valign="top" width="50%">
					<p align="left"><img src="https://imageup.ru/img195/3760250/zveri1.jpg" border="0" alt=""></p>
				</td>
			</tr>
		</table>
		</td>
		<td width="10%">&nbsp;</td>
	</tr>
</table>

{% endblock content %}

